.btn-blue {
	color: white;
	background-color: grey;
	font-weight: bold;
	border: 1px solid grey;
	border-radius: 6px;
	padding:16px;
}
.btn-blue:hover {
	background-color: white;
	color: grey;
	transition: 0,5s;
}
.btn-maroon {
	color: white;
	background-color: maroon;
	font-weight: bold;
	border: 1px solid maroon;
	border-radius: 6px;
	padding:16px;
}
.btn-maroon:hover {
	background-color: white;
	color: maroon;
	transition: 0,5s;
}